h1 {
    font-size: 40px;
    text-align: center;
    padding: 5px;
}

body {
    font-size: 18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: left;
    background-color:#FBF3EC;
    line-height: 1.5;
}

section {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid gray;
  }

h2 {
    color:#F59C6C;
    line-height: 0.5;
}