.topnav {
    background-color: #333;
    overflow: hidden;
}

.header_part h1{
    text-align: center;
}

.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active {
    background-color: #4B2E83;
    color: white;
}

.header_part{
    padding:15px;
}

.header-name h1 img{
    width: 70px;
    height: 60px;
    margin-bottom: -20px;
}

.profile_image{
    width: 100px;
    height: 100px;
    
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/flower.jpg);
    background-size:cover;
    background-position: center;
    margin:0;
    padding:0;
}

.card .saved_housing {
    width: 300px;
    height: 200px;
}

.card h1 .contact {
    width: 35px;
    height: 35px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 30px;
    box-sizing: border-box;
    padding: 20px;
}

.container:nth-child(1) a {
    text-decoration: none;
    color:black;
}

.container:nth-child(1) h1 {
    font-size: 24px;
}

.container:nth-child(2) {
    margin-top:20px;
}

.container .row .favorite {
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.container .row p{
    font-size: 18px;
}

footer {
    position:relative;
    left: 0; right: 0; bottom: 0;
    color: black;
    background-color: lightyellow;
}

footer p {
    margin: 0;
    line-height: 1.5;
}

footer p:last-child {
    padding-top: 8px;
}

@media(min-width:598px) {
    .header_part{
        font-size: 25px;
    }

    .header-name h1 img{
        height:80px;
        width:90px;

    }

    .topnav a{
        font-size: 25px;
    }

    .container .row p{
        font-size:23px;
    }

    .sort{
        font-size:28px;
    }

}

@media(min-width:992px) {
    .header_part{
        font-size: 18px;
    }

    .header-name h1 img{
        height:55px;
        width:60px;

    }

    .topnav a{
        font-size: 16px;
    }

    .container .row p{
        font-size:18px;
    }

    .sort{
        font-size:20px;
    }
}

